In [1]:
from pyspark.sql import SparkSession
import pandas as pd
import zipfile
import findspark
findspark.init()

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("StartingWithSpark") \
    .config("spark.ui.port", "4050") \
    .config("spark.driver.memory", "2g") \
    .config("spark.executor.memory", "2g") \
    .getOrCreate()
spark

In [3]:
data = [('Zeca','35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']
df = spark.createDataFrame(data, colNames)
type(df)

pyspark.sql.dataframe.DataFrame

In [4]:
data = [{'Nome': 'Zeca', 'Idade': '35'}, {'Nome': 'Eva', 'Idade': '29'}]
df = spark.createDataFrame(data)
type(df)

pyspark.sql.dataframe.DataFrame

In [5]:
data = [{'Nome': 'Zeca', 'Idade': '35'}, {'Nome': 'Eva', 'Idade': '29'}]
pandas_df = pd.DataFrame(data)
df = spark.createDataFrame(pandas_df)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
zipfile.ZipFile('empresas.zip', 'r').extractall('empresas')
zipfile.ZipFile('estabelecimentos.zip', 'r').extractall('estabelecimentos')
zipfile.ZipFile('socios.zip', 'r').extractall('socios')

# Company Data

In [6]:
import os
path = os.listdir('empresas\empresas')
files = []
for f in path:
    files.append(f'empresas\empresas\{f}')
df_company = spark.read.csv(files[0], sep=';', inferSchema=True)

<string>:5: SyntaxWarning: invalid escape sequence '\{'
<>:2: SyntaxWarning: invalid escape sequence '\e'
<>:5: SyntaxWarning: invalid escape sequence '\{'
<>:5: SyntaxWarning: invalid escape sequence '\e'
<string>:5: SyntaxWarning: invalid escape sequence '\{'
<>:2: SyntaxWarning: invalid escape sequence '\e'
<>:5: SyntaxWarning: invalid escape sequence '\{'
<>:5: SyntaxWarning: invalid escape sequence '\e'
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\2138163808.py:2: SyntaxWarning: invalid escape sequence '\e'
  path = os.listdir('empresas\empresas')
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\2138163808.py:5: SyntaxWarning: invalid escape sequence '\{'
  files.append(f'empresas\empresas\{f}')
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\2138163808.py:5: SyntaxWarning: invalid escape sequence '\e'
  files.append(f'empresas\empresas\{f}')

In [7]:
df_company.show()

+-----+--------------------+----+---+---------+---+----+
|  _c0|                 _c1| _c2|_c3|      _c4|_c5| _c6|
+-----+--------------------+----+---+---------+---+----+
| 4519|DANIELA DA SILVA ...|2135| 50|     0,00|  5|NULL|
| 8638|JOAO DOS SANTOS F...|2135| 50|     0,00|  5|NULL|
|11748|PANIFICADORA E CO...|2062| 49|     0,00|  1|NULL|
|12027| L G SORVETERIA LTDA|2062| 49|     0,00|  5|NULL|
|13289|ANDREIA CRISTINA ...|2305| 65|100000,00|  1|NULL|
|13623|MARISTELA INDUSTR...|2062| 49|     0,00|  5|NULL|
|17389|DAICICOM MARKETIN...|2240| 49|     0,00|  1|NULL|
|18944|SAO GOTARDO-DISTR...|2062| 49|     0,00|  5|NULL|
|19204|TORTARIA CAMPINAS...|2062| 49|     0,00|  1|NULL|
|22223|S R FARIAS DA SIL...|2062| 49|     0,00|  5|NULL|
|23015|EVANGELINA P DE J...|2135| 50|     0,00|  1|NULL|
|24354|JUCELIA PEREIRA D...|2135| 50|     0,00|  1|NULL|
|26708|DONEIR RODRIGUES ...|2135| 50|     0,00|  1|NULL|
|28664|M ROCHA COML IMPO...|2062| 49|100000,00|  5|NULL|
|28759|LULETEF CONFECCAO...|2062| 49|     0,00|  5|NULL|
|29194|MARIA DA SILVA FE...|2135| 50|     0,00|  1|NULL|
|33717|SOCIEDADE AMIGOS ...|3999| 16|     0,00|  5|NULL|
|38422|SEBASTIAO ALVES D...|4014| 34|     0,00|  5|NULL|
|47217|ITAPOA IMOBILIARI...|2062| 49|     0,00|  1|NULL|
|56054|MARTA XAVIER DA S...|2135| 50|     0,00|  1|NULL|
+-----+--------------------+----+---+---------+---+----+
only showing top 20 rows

In [8]:
df_company.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6
0,4519,DANIELA DA SILVA CRUZ,2135,50,"0,00",5,None
1,8638,JOAO DOS SANTOS FAGUNDES,2135,50,"0,00",5,None
2,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,"0,00",1,None
3,12027,L G SORVETERIA LTDA,2062,49,"0,00",5,None
4,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,"100000,00",1,None

In [9]:
campanyColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']
for index, colName in enumerate(campanyColNames):
    df_company = df_company.withColumnRenamed(f'_c{index}', colName)
df_company.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'natureza_juridica',
 'qualificacao_do_responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']

In [10]:
df_company.show()

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|       4519|         DANIELA DA SILVA ...|             2135|                         50|                     0,00|               5|                       NULL|
|       8638|         JOAO DOS SANTOS F...|             2135|                         50|                     0,00|               5|                       NULL|
|      11748|         PANIFICADORA E CO...|             2062|                         49|                     0,00|               1|                       NULL|
|      12027|          L G SORVETERIA LTDA|             2062|                         49|                     0,00|               5|                       NULL|
|      13289|         ANDREIA CRISTINA ...|             2305|                         65|                100000,00|               1|                       NULL|
|      13623|         MARISTELA INDUSTR...|             2062|                         49|                     0,00|               5|                       NULL|
|      17389|         DAICICOM MARKETIN...|             2240|                         49|                     0,00|               1|                       NULL|
|      18944|         SAO GOTARDO-DISTR...|             2062|                         49|                     0,00|               5|                       NULL|
|      19204|         TORTARIA CAMPINAS...|             2062|                         49|                     0,00|               1|                       NULL|
|      22223|         S R FARIAS DA SIL...|             2062|                         49|                     0,00|               5|                       NULL|
|      23015|         EVANGELINA P DE J...|             2135|                         50|                     0,00|               1|                       NULL|
|      24354|         JUCELIA PEREIRA D...|             2135|                         50|                     0,00|               1|                       NULL|
|      26708|         DONEIR RODRIGUES ...|             2135|                         50|                     0,00|               1|                       NULL|
|      28664|         M ROCHA COML IMPO...|             2062|                         49|                100000,00|               5|                       NULL|
|      28759|         LULETEF CONFECCAO...|             2062|                         49|                     0,00|               5|                       NULL|
|      29194|         MARIA DA SILVA FE...|             2135|                         50|                     0,00|               1|                       NULL|
|      33717|         SOCIEDADE AMIGOS ...|             3999|                         16|                     0,00|               5|                       NULL|
|      38422|         SEBASTIAO ALVES D...|             4014|                         34|                     0,00|               5|                       NULL|
|      47217|         ITAPOA IMOBILIARI...|             2062|                         49|                     0,00|               1|                       NULL|
|      56054|         MARTA XAVIER DA S...|             2135|                         50|                     0,00|               1|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 20 rows

In [11]:
df_company.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,4519,DANIELA DA SILVA CRUZ,2135,50,"0,00",5,None
1,8638,JOAO DOS SANTOS FAGUNDES,2135,50,"0,00",5,None
2,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,"0,00",1,None
3,12027,L G SORVETERIA LTDA,2062,49,"0,00",5,None
4,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,"100000,00",1,None

# Establishment Data

In [12]:
import os
path = os.listdir('estabelecimentos\estabelecimentos')
files = []
for f in path:
    files.append(f'estabelecimentos\estabelecimentos\{f}')
df_establishment = spark.read.csv(files[0], sep=';', inferSchema=True)

<string>:5: SyntaxWarning: invalid escape sequence '\{'
<>:2: SyntaxWarning: invalid escape sequence '\e'
<>:5: SyntaxWarning: invalid escape sequence '\{'
<>:5: SyntaxWarning: invalid escape sequence '\e'
<string>:5: SyntaxWarning: invalid escape sequence '\{'
<>:2: SyntaxWarning: invalid escape sequence '\e'
<>:5: SyntaxWarning: invalid escape sequence '\{'
<>:5: SyntaxWarning: invalid escape sequence '\e'
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\2177619470.py:2: SyntaxWarning: invalid escape sequence '\e'
  path = os.listdir('estabelecimentos\estabelecimentos')
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\2177619470.py:5: SyntaxWarning: invalid escape sequence '\{'
  files.append(f'estabelecimentos\estabelecimentos\{f}')
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\2177619470.py:5: SyntaxWarning: invalid escape sequence '\e'
  files.append(f'estabelecimentos\estabelecimentos\{f}')

In [13]:
df_establishment.show()

+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+---------------+-------+------------------+-----+-------------------+-----------------+--------+----+----+----+--------+----+----+----+-------+--------------------+----+----+
|  _c0|_c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|           _c12|   _c13|              _c14| _c15|               _c16|             _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|   _c26|                _c27|_c28|_c29|
+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+---------------+-------+------------------+-----+-------------------+-----------------+--------+----+----+----+--------+----+----+----+-------+--------------------+----+----+
| 4519|  1| 48|  1|            GIRAFFAS|  8|19950331|  1|NULL|NULL|19940516|5611203|           NULL|    RUA|     HENRIQUE SAVI|15 55|LOJA UN2A 01 TERREO| JARDIM AEROPORTO|17012205|  SP|6219|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
| 8638|  1| 79|  1|AGROPECUARIA FAGU...|  8|20150209| 73|NULL|NULL|19940524|4771704|           NULL|AVENIDA| EUCLIDES DA CUNHA|  474|              SALAO|           CENTRO|19275000|  SP|7255|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|11748|  1| 90|  1|                NULL|  4|20181219| 63|NULL|NULL|19940531|4721102|           NULL|    RUA|    JOSE BONIFACIO|  110|               NULL|       VILA DINIZ|15013150|  SP|7097|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|12027|  1|  2|  1|                NULL|  8|20081231| 71|NULL|NULL|19940608|4721104|           NULL|AVENIDA|      INDIANOPOLIS| 3304|               NULL|            SAUDE| 4062003|  SP|7107|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|13289|  1| 83|  1|JS MATERIAIS DE C...|  2|20040123|  0|NULL|NULL|19940601|4744099|           NULL|    RUA|SALVADOR TAMAIOLLI|  165|               NULL|    PORTO BELLO I|13660000|  SP|6915|  19|35811286|NULL|NULL|NULL|   NULL|CONTATO@LEONECONT...|NULL|NULL|
|13623|  1|  7|  1|MARISTELA INDUSTR...|  8|20081231| 71|NULL|NULL|19730821|1053800|           NULL|   NULL|         QI 4 LOTE|    8|               NULL|       TAGUATINGA|71920540|  DF|9701|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|17389|  1| 88|  1|                NULL|  4|20181004| 63|NULL|NULL|19940613|6209100|           NULL|    RUA|      GODOI COLACO|  150|               NULL|    VILA CORDEIRO| 4582030|  SP|7107|  11| 5352348|NULL|NULL|  11|5352348|                NULL|NULL|NULL|
|18944|  1| 96|  1|           MONTANHES|  8|19960506|  1|NULL|NULL|19940621|4693100|        4691500|AVENIDA|  GALEAO CARVALHAL|   17|             BAIXOS|          GONZAGA|11055201|  SP|7071|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|19204|  1| 74|  1|                NULL|  8|20121004|  1|NULL|NULL|19940616|4729601|           NULL|AVENIDA|          IGUATEMI|  777|               NULL|    VILA BRANDINA|13092500|  SP|6291|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|22223|  1| 50|  1|                NULL|  8|20161010|  1|NULL|NULL|19940628|4772500|           NULL|    RUA|   INDIA PARAGUACU|   45|               NULL|       NOVA GUARA|12516640|  SP|6469|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|23015|  1| 75|  1|    FLORICULTURA EVA|  4|20180911| 63|NULL|NULL|19940629|4789002|           NULL|AVENIDA|                 A|   98|               NULL|     JD PRIMAVERA| 6056040|  SP|6789|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|24354|  1| 76|  1|              JUCELI|  8|20080516| 54|NULL|NULL|19940706|4755502|           NULL|AVENIDA|     N S DE FATIMA|   60|               NULL|     JORDANOPOLIS| 7400015|  SP|6177|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|26708|  1| 11|  1|BAR E MERCEARIA R...|  8|20081231| 71|NULL|NULL|19820121|5611203|           NULL|AVENIDA|     JOSE LUDOVICO|  S/N|       LOTE 14 QD P|           CENTRO|73751469|  GO|9595|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|28664|  1| 69|  1|                NULL|  2|20040828|  0|NULL|NULL|19940808|4672900|        8211300|    RUA|             ROCHA|  173|               NULL|     MEU CANTINHO| 8664650|  SP|7151|  19|37134004|NULL|NULL|NULL|   NULL|CONTATO@CONCEITOS...|NULL|NULL|
|28759|  1| 82|  1|                NULL|  4|20210112| 63|NULL|NULL|19940804|1413401|1413403,3292201|AVENIDA|           SALINAS|  257|               NULL|BOSQUE EUCALIPTOS|12233590|  SP|7099|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|29194|  1| 58|  1|      GRANJA RECANTO|  8|20130611|  1|NULL|NULL|19940824|4729699|           NULL|    RUA|                 A| 2447|               NULL|        VILA NOVA|19250000|  SP|7011|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|33717|  1| 30|  1|                NULL|  4|20181221| 63|NULL|NULL|19941125|9430800|9493600,9499500|    RUA|     CHICO BUQUIRA|  876|               NULL|RESID GALO BRANCO|12247550|  SP|7099|  12|97633382|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|38422|  1| 56|  1|      SALAO MINISTER|  8|19780502|  1|NULL|NULL|19670113|8888888|           NULL|   NULL|      QNE  25 LOTE|   20|            LOJA 02|       TAGUATINGA|71920540|  DF|9701|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|47217|  1| 57|  1|                NULL|  4|20180828| 63|NULL|NULL|19820311|4299599|        4399199|    RUA|               603|  485|               NULL|        VL S JOSE|74440480|  GO|9373|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|56054|  1| 79|  1|   DOCE VIDA SALGADA|  4|20181018| 63|NULL|NULL|19940428|5611203|           NULL|AVENIDA|         BEIRA RIO|  S/N|               NULL|    JARDIM EUROPA|78070200|  MT|9067|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+---------------+-------+------------------+-----+-------------------+-----------------+--------+----+----+----+--------+----+----+----+-------+--------------------+----+----+
only showing top 20 rows

In [14]:
df_establishment.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c20,_c21,_c22,_c23,_c24,_c25,_c26,_c27,_c28,_c29
0,4519,1,48,1,GIRAFFAS,8,19950331,1,None,NaN,...,6219,NaN,None,NaN,None,NaN,None,None,None,None
1,8638,1,79,1,AGROPECUARIA FAGUNDES,8,20150209,73,None,NaN,...,7255,NaN,None,NaN,None,NaN,None,None,None,None
2,11748,1,90,1,None,4,20181219,63,None,NaN,...,7097,NaN,None,NaN,None,NaN,None,None,None,None
3,12027,1,2,1,None,8,20081231,71,None,NaN,...,7107,NaN,None,NaN,None,NaN,None,None,None,None
4,13289,1,83,1,JS MATERIAIS DE CONSTRUCAO,2,20040123,0,None,NaN,...,6915,19.0,35811286,NaN,None,NaN,None,CONTATO@LEONECONTABIL.COM.BR,None,None

In [15]:
establishmentColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']
for index, colName in enumerate(establishmentColNames):
    df_establishment = df_establishment.withColumnRenamed(f'_c{index}', colName)
df_establishment.columns

['cnpj_basico',
 'cnpj_ordem',
 'cnpj_dv',
 'identificador_matriz_filial',
 'nome_fantasia',
 'situacao_cadastral',
 'data_situacao_cadastral',
 'motivo_situacao_cadastral',
 'nome_da_cidade_no_exterior',
 'pais',
 'data_de_inicio_atividade',
 'cnae_fiscal_principal',
 'cnae_fiscal_secundaria',
 'tipo_de_logradouro',
 'logradouro',
 'numero',
 'complemento',
 'bairro',
 'cep',
 'uf',
 'municipio',
 'ddd_1',
 'telefone_1',
 'ddd_2',
 'telefone_2',
 'ddd_do_fax',
 'fax',
 'correio_eletronico',
 'situacao_especial',
 'data_da_situacao_especial']

In [16]:
df_establishment.show()

+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+------------------+------+-------------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|       nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|        logradouro|numero|        complemento|           bairro|     cep| uf|municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|    fax|  correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+------------------+------+-------------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
|       4519|         1|     48|                          1|            GIRAFFAS|                 8|               19950331|                        1|                      NULL|NULL|                19940516|              5611203|                  NULL|               RUA|     HENRIQUE SAVI| 15 55|LOJA UN2A 01 TERREO| JARDIM AEROPORTO|17012205| SP|     6219| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|       8638|         1|     79|                          1|AGROPECUARIA FAGU...|                 8|               20150209|                       73|                      NULL|NULL|                19940524|              4771704|                  NULL|           AVENIDA| EUCLIDES DA CUNHA|   474|              SALAO|           CENTRO|19275000| SP|     7255| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      11748|         1|     90|                          1|                NULL|                 4|               20181219|                       63|                      NULL|NULL|                19940531|              4721102|                  NULL|               RUA|    JOSE BONIFACIO|   110|               NULL|       VILA DINIZ|15013150| SP|     7097| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      12027|         1|      2|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|                19940608|              4721104|                  NULL|           AVENIDA|      INDIANOPOLIS|  3304|               NULL|            SAUDE| 4062003| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      13289|         1|     83|                          1|JS MATERIAIS DE C...|                 2|               20040123|                        0|                      NULL|NULL|                19940601|              4744099|                  NULL|               RUA|SALVADOR TAMAIOLLI|   165|               NULL|    PORTO BELLO I|13660000| SP|     6915|   19|  35811286| NULL|      NULL|      NULL|   NULL|CONTATO@LEONECONT...|             NULL|                     NULL|
|      13623|         1|      7|                          1|MARISTELA INDUSTR...|                 8|               20081231|                       71|                      NULL|NULL|                19730821|              1053800|                  NULL|              NULL|         QI 4 LOTE|     8|               NULL|       TAGUATINGA|71920540| DF|     9701| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      17389|         1|     88|                          1|                NULL|                 4|               20181004|                       63|                      NULL|NULL|                19940613|              6209100|                  NULL|               RUA|      GODOI COLACO|   150|               NULL|    VILA CORDEIRO| 4582030| SP|     7107|   11|   5352348| NULL|      NULL|        11|5352348|                NULL|             NULL|                     NULL|
|      18944|         1|     96|                          1|           MONTANHES|                 8|               19960506|                        1|                      NULL|NULL|                19940621|              4693100|               4691500|           AVENIDA|  GALEAO CARVALHAL|    17|             BAIXOS|          GONZAGA|11055201| SP|     7071| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      19204|         1|     74|                          1|                NULL|                 8|               20121004|                        1|                      NULL|NULL|                19940616|              4729601|                  NULL|           AVENIDA|          IGUATEMI|   777|               NULL|    VILA BRANDINA|13092500| SP|     6291| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      22223|         1|     50|                          1|                NULL|                 8|               20161010|                        1|                      NULL|NULL|                19940628|              4772500|                  NULL|               RUA|   INDIA PARAGUACU|    45|               NULL|       NOVA GUARA|12516640| SP|     6469| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      23015|         1|     75|                          1|    FLORICULTURA EVA|                 4|               20180911|                       63|                      NULL|NULL|                19940629|              4789002|                  NULL|           AVENIDA|                 A|    98|               NULL|     JD PRIMAVERA| 6056040| SP|     6789| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      24354|         1|     76|                          1|              JUCELI|                 8|               20080516|                       54|                      NULL|NULL|                19940706|              4755502|                  NULL|           AVENIDA|     N S DE FATIMA|    60|               NULL|     JORDANOPOLIS| 7400015| SP|     6177| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      26708|         1|     11|                          1|BAR E MERCEARIA R...|                 8|               20081231|                       71|                      NULL|NULL|                19820121|              5611203|                  NULL|           AVENIDA|     JOSE LUDOVICO|   S/N|       LOTE 14 QD P|           CENTRO|73751469| GO|     9595| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      28664|         1|     69|                          1|                NULL|                 2|               20040828|                        0|                      NULL|NULL|                19940808|              4672900|               8211300|               RUA|             ROCHA|   173|               NULL|     MEU CANTINHO| 8664650| SP|     7151|   19|  37134004| NULL|      NULL|      NULL|   NULL|CONTATO@CONCEITOS...|             NULL|                     NULL|
|      28759|         1|     82|                          1|                NULL|                 4|               20210112|                       63|                      NULL|NULL|                19940804|              1413401|       1413403,3292201|           AVENIDA|           SALINAS|   257|               NULL|BOSQUE EUCALIPTOS|12233590| SP|     7099| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      29194|         1|     58|                          1|      GRANJA RECANTO|                 8|               20130611|                        1|                      NULL|NULL|                19940824|              4729699|                  NULL|               RUA|                 A|  2447|               NULL|        VILA NOVA|19250000| SP|     7011| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      33717|         1|     30|                          1|                NULL|                 4|               20181221|                       63|                      NULL|NULL|                19941125|              9430800|       9493600,9499500|               RUA|     CHICO BUQUIRA|   876|               NULL|RESID GALO BRANCO|12247550| SP|     7099|   12|  97633382| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      38422|         1|     56|                          1|      SALAO MINISTER|                 8|               19780502|                        1|                      NULL|NULL|                19670113|              8888888|                  NULL|              NULL|      QNE  25 LOTE|    20|            LOJA 02|       TAGUATINGA|71920540| DF|     9701| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      47217|         1|     57|                          1|                NULL|                 4|               20180828|                       63|                      NULL|NULL|                19820311|              4299599|               4399199|               RUA|               603|   485|               NULL|        VL S JOSE|74440480| GO|     9373| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
|      56054|         1|     79|                          1|   DOCE VIDA SALGADA|                 4|               20181018|                       63|                      NULL|NULL|                19940428|              5611203|                  NULL|           AVENIDA|         BEIRA RIO|   S/N|               NULL|    JARDIM EUROPA|78070200| MT|     9067| NULL|      NULL| NULL|      NULL|      NULL|   NULL|                NULL|             NULL|                     NULL|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+------------------+------+-------------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
only showing top 20 rows

In [17]:
df_establishment.limit(5).toPandas()

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,4519,1,48,1,GIRAFFAS,8,19950331,1,None,NaN,...,6219,NaN,None,NaN,None,NaN,None,None,None,None
1,8638,1,79,1,AGROPECUARIA FAGUNDES,8,20150209,73,None,NaN,...,7255,NaN,None,NaN,None,NaN,None,None,None,None
2,11748,1,90,1,None,4,20181219,63,None,NaN,...,7097,NaN,None,NaN,None,NaN,None,None,None,None
3,12027,1,2,1,None,8,20081231,71,None,NaN,...,7107,NaN,None,NaN,None,NaN,None,None,None,None
4,13289,1,83,1,JS MATERIAIS DE CONSTRUCAO,2,20040123,0,None,NaN,...,6915,19.0,35811286,NaN,None,NaN,None,CONTATO@LEONECONTABIL.COM.BR,None,None

# Partner Data

In [24]:
import os
path = os.listdir('socios\socios')
files = []
for f in path:
    files.append(f'socios\socios\{f}')
df_partner = spark.read.csv(files[0], sep=';', inferSchema=True)

<string>:5: SyntaxWarning: invalid escape sequence '\{'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\{'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<string>:5: SyntaxWarning: invalid escape sequence '\{'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\{'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\1707609153.py:2: SyntaxWarning: invalid escape sequence '\s'
  path = os.listdir('socios\socios')
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\1707609153.py:5: SyntaxWarning: invalid escape sequence '\{'
  files.append(f'socios\socios\{f}')
C:\Users\felip\AppData\Local\Temp\ipykernel_27852\1707609153.py:5: SyntaxWarning: invalid escape sequence '\s'
  files.append(f'socios\socios\{f}')

In [25]:
df_partner.show()

+-----+---+--------------------+--------------+---+--------+----+-----------+----+---+----+
|  _c0|_c1|                 _c2|           _c3|_c4|     _c5| _c6|        _c7| _c8|_c9|_c10|
+-----+---+--------------------+--------------+---+--------+----+-----------+----+---+----+
|11748|  2|   MARIO KATUMI HOSI|   ***504158**| 49|19940530|NULL|***000000**|NULL|  0|   7|
|11748|  2|  ROBERTO YUKIO HOSI|   ***241578**| 22|19940530|NULL|***000000**|NULL|  0|   7|
|13289|  2|ANDREIA CRISTINA ...|   ***787278**| 65|20180615|NULL|***000000**|NULL|  0|   3|
|17389|  2|MARCIA DO CANTO A...|   ***920408**| 49|19940613|NULL|***000000**|NULL|  0|   7|
|19204|  2|ALMIR CARLOS CAPE...|   ***299028**| 49|19980908|NULL|***000000**|NULL|  0|   7|
|19204|  2|EDMIR CARLOS CAPE...|   ***633158**| 49|19980908|NULL|***000000**|NULL|  0|   7|
|22223|  2|SILVIA REGINA FARIAS|   ***203598**| 49|19940627|NULL|***000000**|NULL|  0|   6|
|22223|  2|RUBENS BATISTA DA...|   ***464638**| 22|19990111|NULL|***000000**|NULL|  0|   7|
|28664|  2|CLARICE YURIKO MA...|   ***979398**| 49|19940802|NULL|***000000**|NULL|  0|   6|
|28664|  2|MARIA CLARA ROCHA...|   ***387348**| 22|20210203|NULL|***000000**|NULL|  0|   3|
|28759|  2|SAMUEL SANTOS MAC...|   ***204968**| 49|19940804|NULL|***000000**|NULL|  0|   7|
|28759|  1|LULETEF CONFECCAO...|00028759000182| 22|20050408|NULL|***000000**|NULL|  0|   0|
|33717|  2|ANTONIO CARLOS VI...|   ***064718**| 16|20051121|NULL|***000000**|NULL|  0|   8|
|47217|  2|LINDAIR FERREIRA ...|   ***019491**| 49|19920311|NULL|***000000**|NULL|  0|   7|
|65867|  2|FRANCISCO ANTONIO...|   ***763245**| 49|20110616|NULL|***000000**|NULL|  0|   6|
|65867|  2|MOACIR DE CASTRO ...|   ***208125**| 49|20110616|NULL|***000000**|NULL|  0|   4|
|73091|  2|SIMONE FISCHER SC...|   ***300820**| 22|19940301|NULL|***000000**|NULL|  0|   6|
|73091|  2|IAN FISCHER SCHIL...|   ***585740**| 49|20180201|NULL|***000000**|NULL|  0|   3|
|90550|  2|PATRICIA DA MOTTA...|   ***301907**| 49|20120613|NULL|***000000**|NULL|  0|   5|
|90550|  2|BRUNA MARIA LACOR...|   ***880417**| 22|20120613|NULL|***000000**|NULL|  0|   4|
+-----+---+--------------------+--------------+---+--------+----+-----------+----+---+----+
only showing top 20 rows

In [26]:
df_partner.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10
0,11748,2,MARIO KATUMI HOSI,***504158**,49,19940530,NaN,***000000**,None,0,7
1,11748,2,ROBERTO YUKIO HOSI,***241578**,22,19940530,NaN,***000000**,None,0,7
2,13289,2,ANDREIA CRISTINA DELSIN,***787278**,65,20180615,NaN,***000000**,None,0,3
3,17389,2,MARCIA DO CANTO ARRUDA DAIER,***920408**,49,19940613,NaN,***000000**,None,0,7
4,19204,2,ALMIR CARLOS CAPELLINI,***299028**,49,19980908,NaN,***000000**,None,0,7

In [28]:
partnerColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']
for index, colName in enumerate(partnerColNames):
    df_partner = df_partner.withColumnRenamed(f'_c{index}', colName)
df_partner.columns

['cnpj_basico',
 'identificador_de_socio',
 'nome_do_socio_ou_razao_social',
 'cnpj_ou_cpf_do_socio',
 'qualificacao_do_socio',
 'data_de_entrada_sociedade',
 'pais',
 'representante_legal',
 'nome_do_representante',
 'qualificacao_do_representante_legal',
 'faixa_etaria']

In [29]:
df_partner.show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|      11748|                     2|            MARIO KATUMI HOSI|         ***504158**|                   49|                 19940530|NULL|        ***000000**|                 NULL|                                  0|           7|
|      11748|                     2|           ROBERTO YUKIO HOSI|         ***241578**|                   22|                 19940530|NULL|        ***000000**|                 NULL|                                  0|           7|
|      13289|                     2|         ANDREIA CRISTINA ...|         ***787278**|                   65|                 20180615|NULL|        ***000000**|                 NULL|                                  0|           3|
|      17389|                     2|         MARCIA DO CANTO A...|         ***920408**|                   49|                 19940613|NULL|        ***000000**|                 NULL|                                  0|           7|
|      19204|                     2|         ALMIR CARLOS CAPE...|         ***299028**|                   49|                 19980908|NULL|        ***000000**|                 NULL|                                  0|           7|
|      19204|                     2|         EDMIR CARLOS CAPE...|         ***633158**|                   49|                 19980908|NULL|        ***000000**|                 NULL|                                  0|           7|
|      22223|                     2|         SILVIA REGINA FARIAS|         ***203598**|                   49|                 19940627|NULL|        ***000000**|                 NULL|                                  0|           6|
|      22223|                     2|         RUBENS BATISTA DA...|         ***464638**|                   22|                 19990111|NULL|        ***000000**|                 NULL|                                  0|           7|
|      28664|                     2|         CLARICE YURIKO MA...|         ***979398**|                   49|                 19940802|NULL|        ***000000**|                 NULL|                                  0|           6|
|      28664|                     2|         MARIA CLARA ROCHA...|         ***387348**|                   22|                 20210203|NULL|        ***000000**|                 NULL|                                  0|           3|
|      28759|                     2|         SAMUEL SANTOS MAC...|         ***204968**|                   49|                 19940804|NULL|        ***000000**|                 NULL|                                  0|           7|
|      28759|                     1|         LULETEF CONFECCAO...|      00028759000182|                   22|                 20050408|NULL|        ***000000**|                 NULL|                                  0|           0|
|      33717|                     2|         ANTONIO CARLOS VI...|         ***064718**|                   16|                 20051121|NULL|        ***000000**|                 NULL|                                  0|           8|
|      47217|                     2|         LINDAIR FERREIRA ...|         ***019491**|                   49|                 19920311|NULL|        ***000000**|                 NULL|                                  0|           7|
|      65867|                     2|         FRANCISCO ANTONIO...|         ***763245**|                   49|                 20110616|NULL|        ***000000**|                 NULL|                                  0|           6|
|      65867|                     2|         MOACIR DE CASTRO ...|         ***208125**|                   49|                 20110616|NULL|        ***000000**|                 NULL|                                  0|           4|
|      73091|                     2|         SIMONE FISCHER SC...|         ***300820**|                   22|                 19940301|NULL|        ***000000**|                 NULL|                                  0|           6|
|      73091|                     2|         IAN FISCHER SCHIL...|         ***585740**|                   49|                 20180201|NULL|        ***000000**|                 NULL|                                  0|           3|
|      90550|                     2|         PATRICIA DA MOTTA...|         ***301907**|                   49|                 20120613|NULL|        ***000000**|                 NULL|                                  0|           5|
|      90550|                     2|         BRUNA MARIA LACOR...|         ***880417**|                   22|                 20120613|NULL|        ***000000**|                 NULL|                                  0|           4|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
only showing top 20 rows

In [30]:
df_partner.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,11748,2,MARIO KATUMI HOSI,***504158**,49,19940530,NaN,***000000**,None,0,7
1,11748,2,ROBERTO YUKIO HOSI,***241578**,22,19940530,NaN,***000000**,None,0,7
2,13289,2,ANDREIA CRISTINA DELSIN,***787278**,65,20180615,NaN,***000000**,None,0,3
3,17389,2,MARCIA DO CANTO ARRUDA DAIER,***920408**,49,19940613,NaN,***000000**,None,0,7
4,19204,2,ALMIR CARLOS CAPELLINI,***299028**,49,19980908,NaN,***000000**,None,0,7

# Data Analysis